/* Normalización_________________________________________ */
*,*:before,*:after{
    box-sizing: border-box;
}
*{
    font-family: 'Roboto', sans-serif;
}
body {
    height: 100%;
    margin: 0
}
h1{
    font-size: 5rem;
    margin-top: .1em;
    margin-bottom: .1em;
}
h2{
    font-size: 3rem;
    margin-bottom: .2em;
}
h3{
    font-size: 2rem;
    margin-top: .1em;
    margin-bottom: .1em;
}
h4{
    font-size: 1.5rem;
    margin-top: 1em;
    margin-bottom: .5em;
}

/* Reglas para la barra de navegación_______________________*/

.nav-div {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: .005em;
    padding-left: 6em;
}
nav li {
    width: 105px;
    height: 28px;  
    display: inline-block;
    color: rgb(202, 202, 212);
    text-align: center;
}
.nav-a{
    color: rgb(202, 202, 212);
    text-decoration-line: none;
}
.box-nav-img-apple{
    display: inline-block;
    background: url("assets/apple.svg") 45px -1.4px no-repeat;
    /* No sé cómo mover la posición de una img para que pueda usarla como enlace. Sé mover una background-image pero no puedo ponerle vínculo */
}
.box-nav-img-zoom{
    display: inline-block;
    background: url("assets/zoom.svg") no-repeat;
    background-size: 1.5rem;
    background-position: bottom -5px;
        /* No consigo usar position correctamente */
}
.box-nav-img-shop{
    display: inline-block;
    background: url("assets/shopping.svg") bottom no-repeat;
    background-size: 1.1em;
    background-position: center;
}

/* Reglas para el body_____________________ */
.box { 
     margin-left: auto;  
     margin-right: auto;      
}
.red-letter {
    color: red;
    margin-top: 1.8em;
}
.boton-azul {
    display: inline-block;
    /* margin-top: 1.4em; */
    margin-bottom: 1.4em;
    text-decoration:none;
    color:rgb(245, 245, 247);
    padding-top:7px;
    padding-bottom:7px;
    padding-left:15px;
    padding-right:15px;
    background-color:rgb(0, 113, 227);
    border-width: 0px;
    border-radius:35px;
}
.link-azul {
    color: rgb(0, 113, 227);
    text-decoration-line: none;
}
.macbook-horizontal{
    display: block;
    margin-top: 5.6em;
    margin-bottom: 5.6em;
}
.grey-box-izq{
    display: inline-block;
    text-align:center;
    background-color: rgb(240, 240, 240);
    width: 48%;
    height: 50%;
    margin: 0 8px 20px 16px;
    /* No me permite darle más altura al div a pesar de subir el %. Intento usar píxeles pero no me respeta los que pongo, le da más. En el inspeccionador veo que me tacha los píxeles que le doy y le da más pero no sé por qué */
}
.grey-box-der{
    display: inline-block;
    text-align:center;
    background-color: rgb(240, 240, 240);
    width: 48%;
    height: 50%;
    margin: 0 16px 20px 8px;
}
.img-tools {
    max-width: 100%;
    margin-top: 4%;
    /* No entiendo por qué la foto no alcanza el 100% del ancho del div */
}
.img-laptop {
    max-width: 76%;
}
.entrega-gratuita{
    display: inline-block;
    text-align:centre;
    font-size: 1.2em;
    margin-top: 70px;
    line-height: .5em;
    margin-left: auto;  
}
.img-resize {
    max-width: 50px; 
    height: auto;  

/* Reglas para el footer_______________________ */
}
.foot-bground{
    background-color: rgb(240, 240, 240);
    font-size: .8em;
    padding: 10px 10px 10px 120px;
    margin-top: 40px;
    
    color: rgb(184, 179, 179);
}
.foot-div{
    padding-left: 0;
}
.footer-p{
    padding-left: 5px;
}
footer li{
    width: 130px;
    height: 15px;  
    display: inline-block;
    text-align: centre;
    border-right: 1px solid rgb(100, 100, 100, .3);
}
.footer-a{
    text-decoration-line: none;
    color: rgb(100, 100, 100);
}