.title-red {color: red;}  
.title-green {color: green}
.title-blue {color: blue;}
#title-purple {color: purple;}
.title-orange{color: orange;}
.box {width: 200px;height: 200px;background-color: cornflowerblue;border: 1px solid black;display: inline-block;}
.red-background {background-color: red;}
.blue-background {background-color: blue;}
.green-background {background-color: green;}
.has-margin {background-color: darkolivegreen;margin: 0 50px;padding-left: 50px}
.mada{background-color: rgba(91, 89, 189, 0.384); padding-left: 1000px}
.peso{font-weight: 500}
.ligero{font-weight: lighter}